[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "thestats"]
	path = thestats
	url = https://github.com/analyticsresearchlab/thestats
	shallow = true
	registered = true
